body {
	margin-left: 4em;
	margin-right: 4em;
	margin-top: 2.5em;
	font-family: 'Raleway', sans-serif;
}

h1 {
	margin-bottom: 1em;
}

.contact-methods {
	padding-top: 2.5em;
}

.contact-list  li {
	padding-bottom: 9px;
}